# Node.js dependencies
JobTrackPro_FrontEnd/app/node_modules/
JobTrackPro_FrontEnd/app/.next/
JobTrackPro_FrontEnd/app/.env.local

# Python dependencies
JobTrackPro_API/venv/
JobTrackPro_API/.env
JobTrackPro_API/__pycache__/

# OS-specific files
.DS_Store
Thumbs.db

# Logs & temporary files
*.log
*.sqlite3
